
@{
    ViewBag.Title = "View";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_401</title>
</head>
<body>
    <div class="alert alert-danger">
        Bạn không có quyền truy cập.
    </div>
</body>
</html>
