
<nav class="navigation">
    <div class="container-fluid">
        <div class="navigation__column left">
            <div class="header__logo"><a class="ps-logo" href="/Admin/Home/Index"><img src="~/Assets/admin/images/clickshoplogo1.png" alt=""></a></div>
        </div>
        <div class="navigation__column center">
            <ul class="main-menu menu">
                <li class="menu-item menu-item-has-children dropdown">
                    <a href="/Admin/Home/Index">Trang chủ</a>

                </li>
                <li class="menu-item menu-item-has-children has-mega-menu">
                    <a href="#">Tài khoản</a>
                    <div class="mega-menu">
                        <div class="mega-wrap">

                            <div class="mega-column">

                                <ul class="mega-item mega-features">

                                    <li><a href="/Admin/UserGroup/Index">Nhóm người dùng</a></li>
                                    <li><a href="/Admin/User/Index">Danh sách người dùng</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </li>
                <li class="menu-item menu-item-has-children has-mega-menu">
                    <a href="#">Tin tức</a>
                    <div class="mega-menu">
                        <div class="mega-wrap">

                            <div class="mega-column">

                                <ul class="mega-item mega-features">

                                    <li><a href="/Admin/Category/Index">Danh mục tin tức</a></li>
                                    <li><a href="/Admin/Content/Index">Tin tức</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </li>

                @*<li class="menu-item"><a href="#">Công nghệ</a></li>*@

                <li class="menu-item menu-item-has-children has-mega-menu">
                    <a href="#">Sản phẩm</a>
                    <div class="mega-menu">
                        <div class="mega-wrap">

                            <div class="mega-column">

                                <ul class="mega-item mega-features">

                                    <li><a href="/Admin/ProductCategory/Index">Danh mục</a></li>
                                    <li><a href="/Admin/Product/Index">Sản phẩm</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </li>

                <li class="menu-item menu-item-has-children has-mega-menu">
                    <a href="#">Quản lý chung</a>
                    <div class="mega-menu">
                        <div class="mega-wrap">

                            <div class="mega-column">

                                <ul class="mega-item mega-features">
                                    <li><a href="/Admin/About/Index">Giới thiệu</a></li>
                                    <li><a href="/Admin/Footer/Index">Footer</a></li>
                                    <li><a href="/Admin/Menu/Index">Menu</a></li>
                                    <li><a href="/Admin/Slide/Index">Slide</a></li>
                                    <li><a href="/Admin/Feedback/Index">Phản hồi</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="navigation__column right">
       
            <div class="menu-toggle"><span></span></div>
        </div>
    </div>
</nav>