

    .u-section-1 .u-shape-1 {
        height: 300px;
        background-color: #2AC37D;
        margin-top: 0;
        margin-bottom: 0;
    }

    .u-section-1 .u-image-1 {
        width: 305px;
        max-width: 50%;
        height: auto;
        background-size: cover;
        background-position: 50% 50%;
        margin: -180px auto 0;
    }

    .u-section-1 .u-text-1 {
        font-size: 2rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 4px;
        background-image: none;
        width: 554px;
        margin: 30px auto 0;
    }

@media (max-width: 767px) {
    .u-section-1 .u-text-1 {
        width: 540px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-text-1 {
        width: 100%;
        font-size: 1.5rem;
    }
}

.u-image-circle.u-image {
    border-radius: 50% !important;
}

.u-border-white {
    border-color: #ffffff;
    stroke: #ffffff;
    border-style: solid;
}

.u-align-center {
    text-align: center;
}


.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width:100%;
}

.ftco-about .img-about {
    width: 100%;
    z-index: 0;
    position: relative;
}

    .ftco-about .img-about .img {
        display: block;
        width: 100%;
        position: relative;
        z-index: 1;
        -webkit-box-shadow: -20px 20px 69px -27px rgba(0, 0, 0, 0.33);
        -moz-box-shadow: -20px 20px 69px -27px rgba(0, 0, 0, 0.33);
        box-shadow: -20px 20px 69px -27px rgba(0, 0, 0, 0.33);
    }

.ftco-about ul.about-info {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 100%;
}

    .ftco-about ul.about-info li {
        list-style: none;
        margin-bottom: 10px;
    }

        .ftco-about ul.about-info li span {
            width: calc(100% - 130px);
            font-weight: 600;
            color: #b1b493;
        }

            .ftco-about ul.about-info li span:first-child {
                font-weight: 600;
                color: #000000;
                width: 130px;
            }

.ftco-about .my-interest {
    margin-top: 30px;
}

    .ftco-about .my-interest .interest-wrap {
        width: 25%;
        border-left: 2px solid #b1b493;
        padding-left: 10px;
    }

@media (max-width: 1199.98px) {
    .ftco-about .my-interest .interest-wrap {
        width: 50%;
        float: left;
        margin-bottom: 10px;
    }
}

.ftco-about .my-interest .interest-wrap .icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #b1b493;
}

    .ftco-about .my-interest .interest-wrap .icon span {
        color: #000000;
        font-size: 18px;
    }

.ftco-about .my-interest .interest-wrap .text {
    font-weight: 600;
    color: #000000;
    padding-left: 5px;
}

.ftco-about ul.about-info {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 100%;
}

    .ftco-about ul.about-info li {
        list-style: none;
        margin-bottom: 10px;
    }

        .ftco-about ul.about-info li span {
            width: calc(100% - 130px);
            font-weight: 500;
            color: #737373;
        }

            .ftco-about ul.about-info li span:first-child {
                font-weight: 600;
                color: #000000;
                width: 130px;
            }
.mt-4 {
    margin-top: 6rem !important;
}
.container1 {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) 
{
    .container1 {
        max-width: 380px;
    }
}