<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Đăng ký thành viên</title>
    
    <!-- Font Icon -->
    <link rel="stylesheet" href="/Assets/clientLoginRegister/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/Assets/clientLoginRegister/css/style.css">
</head>
<body>

    <div class="main">

        <!-- Sign up form -->
        @RenderBody()
    </div>

    <!-- JS -->
    <script src="/Assets/clientLoginRegister/vendor/jquery/jquery.min.js"></script>
    <script src="/Assets/clientLoginRegister/js/main.js"></script>
</body>
</html>