@model List<Model.EF.Menu>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-6 col-xs-12 ">
                <p class="addthis_inline_follow_toolbox"></p>
                <p>Chào mừng bạn đến với Click Shop</p>
            </div>
          
            <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12 ">
                @{ var session = (UserLogin)Session[WebAffiliateMarketing.Common.CommonConstants.USER_SESSION]; }
                @if (session == null)
                {
                    <div class="header__actions">

                        @foreach (var item in Model)
                        {
                            <a href="@item.Link" target="@item.Target">@item.Text</a>
                        }



                    </div>
                }
                else
                {
            <div class="header__actions">
                <a>Xin Chào:@session.UserName</a>
                <a href="/Error/Index">Thông tin cá nhân</a>
                <a href="/User/Edit/@session.UserID">Đổi mật khẩu</a>
                <a>
                    @Html.ActionLink("Đăng xuất", "Logout", "User")
                </a>
            </div>
                }
              
            </div>

                </div>
    </div>
