@model List<Model.EF.Menu>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-6 col-xs-12 ">
                <p>Chào mừng bạn đến với Click Shop</p>
            </div>
            <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12 ">
                <div class="header__actions">

                    @foreach (var item in Model)
                    {
                        <a  href="@item.Link" target="@item.Target">@item.Text</a>
                    }



                </div>
            </div>
        </div>
    </div>
